
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio web</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mdb.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
 
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script> 
    <script th:src="@{/js/funciones.js}" src="../static/js/funciones.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/mdb.min.js}" src="../static/js/mdb.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
 
 
</head>
<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container">

    

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" th:href="@{/users}" >Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect"  th:href="@{/location}" >Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect"  th:href="@{/billing}" >Billing</a>
            </li>
           
          </ul>
 
          <!-- Right -->
        

        </div>

      </div>
    </nav>
  </header>
<!-- Purple Header -->
    <div class="edge-header morpheus-den-gradient"></div>

    <!-- Main Container -->
  
    <!-- Main Container -->
    <div class="container d-flex justify-content-center free-bird">
      <div class="row  col-lg-8  ">
          <div class="col-md-12 d-flex justify-content-center col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">
  
        
              <div class="container  p-3 my-3">
                  <form th:action="@{/savelocation}" th:object="${location}" method="POST" >
                  <section>
                    <div class="form-elegant">
                      <!--Header-->
                      <div class="modal-header text-center">
                        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Location</strong></h3>
                      </div>
                      <!--Body-->
                      <div class="modal-body mx-4">
                        <!--Body-->
                        <div class="md-form mb-5">
                          <input type="text" id="location" th:field="*{direccion}"  class="form-control validate">
                          <label data-error="wrong" data-success="right"   for="location">Location</label>
                        </div>
            
                        <div class="text-center mb-3">
                          <button type="submit" class="btn btn-info btn-md ml-0" >Guardar</button>
                        </div>
                    
                      </div>
                  
                    </div>
  
               
            
                   
                  </section>
                </form>
    
                </div>
  
          </div>
        </div>
          
      
      </div>
<!-- /.Main Container -->

<footer class="page-footer font-small white lighten-3 pt-4 py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
    
   
      <div class="col-md-8">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">© 2021.
          <a class="dark-grey-text" th:href="@{mailto:darwing01000100@gmail.com}"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>